# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Виртуальное окружение
.venv/
venv/
env/

# =========================
# Environment variables (ВАЖНО)
# =========================
.env

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# Логи
# =========================
*.log
log.txt

# =========================
# Системные файлы
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker (опционально)
# =========================
# если НЕ хочешь хранить compose в git — раскомментируй
# docker-compose.yml

# =========================
# База данных (ВАЖНО подумать)
# =========================
# Если это runtime данные — лучше игнорить:
# db/

# Если это часть проекта — оставь как есть (НЕ игнорируй)